파이썬은 순차지향적 언어

In [1]:
name = 'Hong gil dong'
print(name)

Hong gil dong

In [2]:
a = 7
b = 5
print(a+b)

12

In [3]:
a = 7
b = 5
print('a+b')

a+b

In [4]:
a=1
b=1
print(a,b)

1 1

In [5]:
print(a)

1

In [6]:
a=1.5
b=3.5
print(a,b)

1.5 3.5

In [7]:
a='ABC'
b="101010"
print(a,b)

ABC 101010

In [8]:
a=True
b=False
print(a,b)

True False

In [9]:
print(3*3*3*3*3)

243

In [10]:
print(3 ** 5)

243

In [11]:
print(7%2)

1

In [15]:
a=1
a=a+1
print(a)

2

In [16]:
a+=1
print(a)

3

In [17]:
a=a-1
a-=1
print(a)

1

In [18]:
a=10
b=0.3
print(a+b)

10.3

In [21]:
a = 10
b = 0.9
a = int(a)
b = int(b)
print(a+b)

10

In [22]:
a = 76.3

In [23]:
a = float(a)
b = a
print(a+b)

152.6

In [24]:
a = str(a)
b = str(b)
print(a+b)

76.376.3

float형을 str으로 casting 했다! 데이터간의 형 변환을 casting 이라고 한다.

In [25]:
a = 99.5

In [27]:
a = int(a)

In [28]:
print(a)

99

In [29]:
b = '99.5'

In [30]:
print(b)

99.5

In [31]:
b = float(b)

In [32]:
print(b)

99.5

In [33]:
b=  99.5
c= '99.5'

In [34]:
b= str(b)

In [35]:
print(b+c)

99.599.5

In [36]:
a = '3'
b = '2'

In [37]:
print(a+b)

32

In [38]:
print(b+a)

23

In [39]:
a=int(10.3)
b=float(10.3)
c=str(10.3)

In [40]:
print(type(a))

<class 'int'>

In [41]:
print(type(b))

<class 'float'>

In [44]:
print(type(c))

<class 'str'>

In [47]:
print(type(type(a)))

<class 'type'>

In [53]:
print("Enter your name:")
somebody = input()
print("Hi",somebody,"How are you today?")

Enter your name:
kim
Hi kim How are you today?

In [50]:
print("Hello World!","Hello Again!!!!")

Hello World! Hello Again!!!!

In [54]:
temperature = float(input("온도를 입력하세요.: "))
print(temperature)

온도를 입력하세요.: 36.5
36.5

## .format

In [56]:
print(1,2,3)
print("a"+" "+"b"+" "+"c")
print("%d %d %d"%(1,2,3))
print("{} {} {}".format("a","b","c"))

1 2 3
a b c
1 2 3
a b c

In [60]:
print('%s %s'%('one','two'))
print('{} {}'.format('one','two'))
print('%d %d'%(1,2))
a = 1
b = 2
print('{} {}'.format(a,b))

one two
one two
1 2
1 2

In [85]:
print("Art: %10d, Prince per Unit: %7.2f" %(453,59.058))

Art:        453, Prince per Unit:   59.06

In [83]:
print("Art: %-5d, Prince per Unit: %0.2f" %(453,59.058))

Art: 453  , Prince per Unit: 59.06

In [87]:
print("Art:%3d, Prince per Unit: %7.2f" %(453,59.058))
print("Art:%3d, Prince per Unit: %7.2f" %(1,59.058))

Art:453, Prince per Unit:   59.06
Art:  1, Prince per Unit:   59.06

In [106]:
age = 28
name = "Han ka hee"
print("I'm {0} years old.".format(age))
print("My name is {0} and {1} years old.".format(name,age))
print("Product: {0:10s}, Price per unit:{1:.3f}.".format("Apple",5.243))
print("Product: {0:10d}, Price per unit:{1:.3f}.".format(123456,5.243))

I'm 28 years old.
My name is Han ka hee and 28 years old.
Product: Apple     , Price per unit:5.243.
Product:     123456, Price per unit:5.243.

In [107]:
age = 28
name = "Han ka hee"
print("I'm {0} years old.".format(age))
print("My name is {0} and {1} years old.".format(name,age))
print("Product: {0:>10s}, Price per unit:{1:.3f}.".format("Apple",5.243))
print("Product: {0:<10d}, Price per unit:{1:.3f}.".format(123456,5.243))

I'm 28 years old.
My name is Han ka hee and 28 years old.
Product:      Apple, Price per unit:5.243.
Product: 123456    , Price per unit:5.243.

# 리스트

In [108]:
list_test = [1234, 'apple', 52.4]

In [109]:
for i in range(0, len(list_test)):
    print(type(list_test[i]))

<class 'int'>
<class 'str'>
<class 'float'>

In [110]:
cities = ['서울', '부산', '인천', '대구', '대전','광주','울산','수원']
print(cities[0:6])
print(cities[:])
print(cities[-50:50])
print(cities[::2])

['서울', '부산', '인천', '대구', '대전', '광주']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '인천', '대전', '울산']

In [111]:
color = ['red','blue','green']
color2 = ['orange','black','white']
print(color+color2)

['red', 'blue', 'green', 'orange', 'black', 'white']

In [112]:
print(len(color))
color[0]='yellow'
print(color*2)

3
['yellow', 'blue', 'green', 'yellow', 'blue', 'green']

In [113]:
print('blue' in color2)
total_color = color+color2
print(total_color)

False
['yellow', 'blue', 'green', 'orange', 'black', 'white']

In [114]:
color.append(3527)

In [120]:
print(color)

['yellow', 'blue', 'green', '3', '5', '2', '7']

In [116]:
del color[3]

In [119]:
color.extend('3527')

In [121]:
color = ['red','blue','green']

In [122]:
color.append('3527')

In [123]:
print(color)

['red', 'blue', 'green', '3527']

In [130]:
a = [5,4,3,2,1] #0x01
b = [1,2,3,4,5] #0x02
b = a  #b에 a의 주소값 복사 #0x01
print(b)

[5, 4, 3, 2, 1]

In [131]:
a.sort() #정렬
print(a)

[1, 2, 3, 4, 5]

In [132]:
print(b)

[1, 2, 3, 4, 5]

In [133]:
b = [6,7,8,9,10]
print(a,b)

[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

## 패킹, 언패킹
- 패킹: 한 변수에 여러개의 데이터를 넣는것
- 언패킹: 한 변수의 데이터를 각각의 변수로 반환

In [134]:
t = [1,2,3]  #패킹
a ,b ,c = t   #언패킹
print(t,a,b,c)

[1, 2, 3] 1 2 3

In [137]:
print(type(t))

<class 'list'>

In [138]:
print(type(a))

<class 'int'>

In [142]:
test = 4,5,6

In [143]:
print(type(test),test)   #튜플

<class 'tuple'> (4, 5, 6)

In [145]:
d,e,f = test
print(test,d,e,f)

(4, 5, 6) 4 5 6

In [136]:
#패킹에제

kor_score = [49,79,20,100,80]
math_score = [43,59,85,30,90]
eng_score = [49,79,48,60,100]
midterm_score=[kor_score,math_score,eng_score]
print(midterm_score[0][2])

20

# 조건문

In [147]:
print("몇 살 입니까?")
나이 = int(input())

if 나이 < 30: 
    print("들어왕")
else:
    print("돌아가")

몇 살 입니까?
32
돌아가

In [148]:
a = 10
b = '10'

In [149]:
print(a,b)

10 10

In [154]:
a = 5
b = 5
print(id(a), id(b))

1791854471600 1791854471600

In [155]:
a = 10
print(id(a), id(b))

1791854471760 1791854471600

In [156]:
a = 5
b = 5
print(hex(id(a)), hex(id(b)))
a = 10
c = 10
a +=1
print(hex(id(a)))

0x1a132d969b0 0x1a132d969b0
0x1a132d96a70

## 반복문

In [158]:
for looper in [1,2,3,4,5]:
    print("hello")

hello
hello
hello
hello
hello

In [160]:
for looper in range(0,5):
    print("hello")

hello
hello
hello
hello
hello

In [166]:
for i in ['Americano', 'Latte', 'frafuchino']:
    print(i)

Americano
Latte
frafuchino

In [164]:
for i in ['Americano', 'Latte', 'frafuchino']:
    for ii in i:
        print(ii)

A
m
e
r
i
c
a
n
o
L
a
t
t
e
f
r
a
f
u
c
h
i
n
o

In [167]:
i=0
while i<10:
    print(i, end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9

### 반복문의 제어 - break, continue

#### break 특정 조건에서 반복 종료

In [169]:
for i in range(10):
    if i == 5:
        break
    print(i)
print('EOP')

0
1
2
3
4
EOP

#### continue 특정 조건에서 반복 종료

In [170]:
for i in range(10):
    if i == 5:
        continue
    print(i)
print('EOP')

0
1
2
3
4
6
7
8
9
EOP

### 반복의 제어 - else
#### 반복 조건이 만족하지 않을 경우 반복 종료 시 1회 수행

In [171]:
for i in range(10):
    print(i)
else:
    print('EOP')

0
1
2
3
4
5
6
7
8
9
EOP

In [172]:
i=0
while i < 10:
    print(i,)
    i+=1
else:
    print('EOP')

0
1
2
3
4
5
6
7
8
9
EOP

#### break로 종료된 반복문은 else block이 수행되지 않음

# 함수(function)

In [175]:
def adder(x1,x2):#(x1,x2):파라미터
    a= x1+x2
    return a

In [176]:
adder(3,4)

7

In [177]:
def printer():
    print("다음에 다시만나요") #return 없는 함수

In [178]:
printer()

다음에 다시만나요

In [1]:
def calculate_rectangle_area(x,y):  # 3. 함수 수행
    return x*y

rectangle_x = 10
rectangle_y = 20                           # 1. 메인 프로그램 수행
print("사각형 x의 길이: ", rectangle_x)
print("사각형 y의 길이: ", rectangle_y)

print("사각형의 넓이: ", # 4. 메인 프로그램 수행
      calculate_rectangle_area(rectangle_x,rectangle_y)) # 2. 함수호출

사각형 x의 길이:  10
사각형 y의 길이:  20
사각형의 넓이:  200

In [2]:
def a_rectangle_area():
    print(5*7)
def b_rectangle_area(x,y):
    print(x*y)
def c_rectangle_area():
    return(5*7)
def d_rectangle_area(x,y):
    return(x*y)

a_rectangle_area()
b_rectangle_area(5,7)

print(c_rectangle_area())
print(d_rectangle_area(5,7))

35
35
35
35

### 함수 호출 방식 개요
- Call by Value: 함수에 인자를 넘길 때 값만 넘김. 함수내에 인자값 변경시, 호출자에게 영향을 주지 않음

- Call by Reference: 함수에 인자를 넘길 때 주소값을 넘김

In [5]:
#Call by Reference

def foo(a):
    a[0] = 10
    print(hex(id(a)))

a = [1,2,3]
print(hex(id(a)))
foo(a)
print(a)

0x1fab65a79c0
0x1fab65a79c0
[10, 2, 3]

In [4]:
print(hex(id(a)))
print(hex(id(a[0])))

0x1fab65a6bc0
0x1fab1796a50

### 변수의 범위
변수가 사용되는 범위(함수 또는 메인 프로그램)
- 지역변수: 함수 내에서 사용
- 전역변수: 프로그램 전체에서 사용

In [9]:
def spam(eggs):
    eggs.append(1)
    eggs = [2,3]

ham = [0]
spam(ham)
print(ham)

[0, 1]

In [12]:
def test(t):
    x= 30
    print(x)
    t= 20
    print("In Function :",t)
    
x = 10
print("Before :",x)
test(x)
print("After :",x)

Before : 10
30
In Function : 20
After : 10

In [10]:
def test(t):
    print(x)
    t = 20
    print("In Fuction:",t)

x = 10
test(x)
print(t)

10
In Fuction: 20

NameError: name 't' is not defined

함수 내에서 전역변수 사용 시 global 키워드 사용

In [17]:
def f():
    global s #지역변수가 아니라 전역변수로 선언
    s = "I love London!" 
    print(s)
    
s = "I love Paris!"
f()
print(s)

I love London!
I love London!

#### 변수의 범위

In [21]:
def calculate(x,y):
    total = x + y
    print("In Function")
    print("a:",str(a),"b:",str(b),"a+b:", str(a+b),"total:",str(total))
    return total #주소값 return

a=5
b=7
total=0
print("In program -1")
print("a:",str(a),"b:",str(b),"a+b", str(a+b))
sum = calculate(a,b)
print("After Calculation")
print("Total :",str(total),"Sum",str(sum))

In program -1
a: 5 b: 7 a+b 12
In Function
a: 5 b: 7 a+b: 12 total: 12
After Calculation
Total : 0 Sum 12

### Keyword arguments
함수에 입력되는 parameter의 변수명을 사용, arguments를 넘김

In [24]:
def print_something(my_name,your_name):
    print("Hello {0}, My name is {1}".format(your_name,my_name))

print_something("Hong","group")
print_something(your_name="Hong", my_name="group")

Hello group, My name is Hong
Hello Hong, My name is group

### Default arguments
parameter의 기본값을 사용, 입력하지 않을 경우 기본값 출력

In [26]:
def print_something(my_name,your_name='none name'):
    print("Hello {0}, My name is {1}".format(your_name,my_name))
    
print_something("Hong",)
print_something(your_name="group", my_name="Hong")

Hello none name, My name is Hong
Hello group, My name is Hong

### 가변인자(variable-length)
- 개수가 정해지지 않은 변수를 함수의 parameter로 사용하는 법
- Keyword arguments와 함께, arguments 추가가 가능
- Asterisk(*) 기호를 사용하여 함수의 parameter를 표시함
- 입력된 값은 tupletype으로 사용할 수 있음
- 가변인자는 오직 한개만 맨 마지막 parameter 위치에 사용 가능
- 가변인자는 일반적으로 *args를 변수명으로 사용
- 기존 parameter 이후에 나오는 값을 tuple로 저장함

In [4]:
def asterisk_test(a,b,*args):
    print(args)
    return a+b+sum(args)

print(asterisk_test(1,2,3,4,5,6,7,8,9))

(3, 4, 5, 6, 7, 8, 9)
45

#### 키워드 가변인자
- parameter 이름을 따로 지정하지 않고 입력하는 방법
- Asterisk(*) 두개를 사용하여 함수의 parameter를 표시함
- 입력된 값은 dicttype으로 사용할 수 있음
- 가변인자는 오직 한개만 기존 가변인자 다음에 사용

In [6]:
def kwargs_test_1(**kwargs):
    print(kwargs)
    
def kwargs_test_2(**kwargs):
    print(kwargs)
    print("First value is {first}".format(**kwargs))
    print("Second value is {second}".format(**kwargs))
    print("Third value is {third}".format(**kwargs))

In [9]:
kwargs_test_1(a=1,b=2,c=3) #{key:value}

{'a': 1, 'b': 2, 'c': 3}

In [11]:
kwargs_test_2(first=1,second=2,third=3) #{key:value}

{'first': 1, 'second': 2, 'third': 3}
First value is 1
Second value is 2
Third value is 3

In [12]:
kwargs_test_2(a=1,b=2,c=3) #{key:value}

{'a': 1, 'b': 2, 'c': 3}

KeyError: 'first'

# 인덱싱(Indexing)

In [13]:
a = "abcde"
print(a[0],a[4])
print(a[-1],a[-5])

a e
e a

# 슬라이싱(slicing)

In [24]:
a = "Hello Python!!"

print("a","c")
print(a[0:6],"AND",a[-9:])
print(a[:])
print(a[-50:50])
print(a[::2],"AND",a[-1:-9:-1])

a c
Hello  AND  Python!!
Hello Python!!
Hello Python!!
HloPto! AND !!nohtyP

문자열 함수

In [25]:
a = "String"

In [26]:
len(a)

6

In [29]:
a.upper()

'STRING'

In [37]:
a=a.lower()

In [38]:
print(a)

string

In [35]:
a = a.capitalize()
print(a)

String

In [39]:
a.title()

'String'

In [62]:
b = "show me the money. I have a cookie"

In [41]:
b.title()

'Show Me The Money'

In [43]:
b.count('show')

1

In [44]:
b.find('the')

8

In [55]:
c = "show show show show"

In [56]:
print(c.find('show')) #맨 처음에서 부터
print(c.rfind('show')) #맨 뒤에서 부터

0
15

In [63]:
b.startswith('show')

True

In [64]:
b.endswith('money')

False

In [65]:
b.endswith('cookie')

True

# 튜플(tuple)
- 값의 변경이 불가능한 리스트
- 선언 시 "[]"가 아닌 "()"를 사용
- 리스트의 연산, 인덱싱.슬라이싱 등을 동일하게 사용

In [66]:
t = (1,2,3)
print(t+t, t*2)
print(len(t))

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)
3

In [68]:
print(t[0:2])

(1, 2)

In [70]:
t[1] = 5 # 값의 변경이 불가능!

TypeError: 'tuple' object does not support item assignment

In [72]:
t = (1) #일반 정수로 인식
t

1

In [73]:
type(t)

int

In [74]:
t=(1,) #값이 하나인 Tuple은 반드시 ","" 를 붙어야 함

In [75]:
type(t)

tuple

# 집합(set)
- 값을 순서없이 저장,중복 불허하는 자료형
- set 객체선언을 이용하여 객체 생성

In [77]:
s = set([1,2,3,4,5,6])
s

{1, 2, 3, 4, 5, 6}

In [79]:
s = set([1,2,3,1,2,3])
s                          # 중 복 불 허!

{1, 2, 3}

In [81]:
s.add(1)
s

{1, 2, 3}

In [82]:
s.remove(1)
s

{2, 3}

In [84]:
s.update([1,4,5,6,7])
s

{1, 2, 3, 4, 5, 6, 7}

In [85]:
s.discard(3)
s

{1, 2, 4, 5, 6, 7}

discard() 메소드의 경우 지우려는 Element가 없어도 정상종료하는 반면, remove() 메소드는 지우려는 Element가 없으면 KeyError가 발생하는 차이점이 있다.

In [86]:
s.clear()
s

set()

# 사전(dictionary)
- 데이터를 저장 할 때는 구분 지을수 있는 값을 함께 저장 ex)주민등록번호,제품모델번호
- 구분을 위한 데이터 고유값을 Identifier 또는 Key라고 함
- Key 값을 활용하여, 데이터값(Value)를 관리함
- key와 value를 활용하여 key로 value를 검색
- 다른언어에서는 Hash Table이란 단어로 사용
- {key1:value1, key2:value2, key3:value3}

In [93]:
student_info = {19630403: '홍길동', 19630403: '강감찬', 19951125:'사임당'}

In [94]:
student_info[19630403]

'강감찬'

In [95]:
student_info

{19630403: '강감찬', 19951125: '사임당'}

In [96]:
student_info = {19630403: '홍길동',
 19770502: '이순신',
 19951125: '사임당'}

student_info[19630403]
student_info[19630403] = '강감찬'
student_info[19951125]
student_info[19951125] = '임꺽정'
student_info

{19630403: '강감찬', 19770502: '이순신', 19951125: '임꺽정'}

In [98]:
a = {'a':1, 'b':2, 'c':3}
print(type(a))
a['a'] = 10
a['e'] = 20
print(a)

<class 'dict'>
{'a': 10, 'b': 2, 'c': 3, 'e': 20}

In [100]:
country_code={}
country_code={"America":1, "Korea":82, "China":86, "Japan":81}
print(country_code)

print(country_code.items())
print(country_code.keys())

country_code["Gernman"]=49
print(country_code)
print(country_code.values())

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}
dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81)])
dict_keys(['America', 'Korea', 'China', 'Japan'])
{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'Gernman': 49}
dict_values([1, 82, 86, 81, 49])

In [102]:
print(type(country_code.items()))

<class 'dict_items'>

In [106]:
print(type(country_code.keys()))

<class 'dict_keys'>

In [112]:
for k,v in country_code.items():
    print("Key:",k)
    print("Value:",v)

Key: America
Value: 1
Key: Korea
Value: 82
Key: China
Value: 86
Key: Japan
Value: 81
Key: Gernman
Value: 49

In [110]:
"Korea" in country_code.keys()

True

In [111]:
82 in country_code.values()

True

## deque
- Stack과 Queue를 지원하는 모듈
- List에 비해 효율적인 자료저장 방식을 지원함
- rotate, reverse등 Linked List의 특성을 지원함
- 기존 list형태의 함수를 모두 지원함
- 효율적인 메모리 사용 가능

In [115]:
from collections import deque
deque_list = deque()

for i in range(5):
    deque_list.append(i)
print(deque_list)

deque_list.appendleft(10)
print(deque_list)

deque([0, 1, 2, 3, 4])
deque([10, 0, 1, 2, 3, 4])

- Stack 1,2,3 넣으면 3,2,1 순으로 꺼내짐 
- Queue 1,2,3 넣으면 1,2,3 순으로

In [116]:
deque_list.rotate(2)
print(deque_list)
deque_list.rotate(2)
print(deque_list)
print(deque_list)
print(deque(reversed(deque_list)))
deque_list.extend([5,6,7])
print(deque_list)
deque_list.extendleft([5,6,7])
print(deque_list)

deque([3, 4, 10, 0, 1, 2])
deque([1, 2, 3, 4, 10, 0])
deque([1, 2, 3, 4, 10, 0])
deque([0, 10, 4, 3, 2, 1])
deque([1, 2, 3, 4, 10, 0, 5, 6, 7])
deque([7, 6, 5, 1, 2, 3, 4, 10, 0, 5, 6, 7])

In [118]:
#deque

from collections import deque
import time

start_time=time.process_time()
deque_list=deque()
#Stack
for i in range(10000):
    for i in range(10000):
        deque_list.append(i)
        deque_list.pop()
print(time.process_time()-start_time, "seconds")

12.703125 seconds

In [121]:
#general list

from collections import deque
import time

start_time=time.process_time()
just_list=[]
#Stack
for i in range(10000):
    for i in range(10000):
        just_list.append(i)
        just_list.pop()
print(time.process_time()-start_time, "seconds")

29.484375 seconds

## Counter 
- Dict type, keyword parameter 등도 모두 처리 가능

In [123]:
from collections import Counter
c = Counter({"red":4, 'blue':2})
print(c)
print(list(c.elements()))

Counter({'red': 4, 'blue': 2})
['red', 'red', 'red', 'red', 'blue', 'blue']

In [125]:
from collections import Counter
c = Counter(cats=4, dogs=5)
print(c)
print(list(c.elements()))

Counter({'dogs': 5, 'cats': 4})
['cats', 'cats', 'cats', 'cats', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs']

- Set 연산들을 지원함

In [128]:
from collections import Counter
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)
c.subtract(d)
print(c)
print(c + d)
print(c & d)
print(c | d)

Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})
Counter({'a': 4, 'b': 2})
Counter({'a': 1})
Counter({'d': 4, 'a': 3, 'c': 3, 'b': 2})

- word counter의 기능도 손쉽게 제공함

In [129]:
from collections import Counter
text ="""A press release is the quickest and easiest way to get free publicity.
If well written, a press release can result in multiple published articles about
your firm and its products. And that can mean new prospects contacting you asking
you to sell to them. ….""".lower().split()
print(Counter(text))
print(Counter(text)['a'])

Counter({'and': 3, 'to': 3, 'a': 2, 'press': 2, 'release': 2, 'can': 2, 'you': 2, 'is': 1, 'the': 1, 'quickest': 1, 'easiest': 1, 'way': 1, 'get': 1, 'free': 1, 'publicity.': 1, 'if': 1, 'well': 1, 'written,': 1, 'result': 1, 'in': 1, 'multiple': 1, 'published': 1, 'articles': 1, 'about': 1, 'your': 1, 'firm': 1, 'its': 1, 'products.': 1, 'that': 1, 'mean': 1, 'new': 1, 'prospects': 1, 'contacting': 1, 'asking': 1, 'sell': 1, 'them.': 1, '….': 1})
2

#### split()함수: 
a.split()처럼 괄호 안에 아무 값도 넣어 주지 않으면 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어 준다.

In [130]:
from collections import Counter
text ='''A press release is the quickest and easiest way to get free publicity.
If well written, a press release can result in multiple published articles about
your firm and its products. And that can mean new prospects contacting you asking
you to sell to them. ….'''.lower().split()
print(Counter(text))
print(Counter(text)['a'])

Counter({'and': 3, 'to': 3, 'a': 2, 'press': 2, 'release': 2, 'can': 2, 'you': 2, 'is': 1, 'the': 1, 'quickest': 1, 'easiest': 1, 'way': 1, 'get': 1, 'free': 1, 'publicity.': 1, 'if': 1, 'well': 1, 'written,': 1, 'result': 1, 'in': 1, 'multiple': 1, 'published': 1, 'articles': 1, 'about': 1, 'your': 1, 'firm': 1, 'its': 1, 'products.': 1, 'that': 1, 'mean': 1, 'new': 1, 'prospects': 1, 'contacting': 1, 'asking': 1, 'sell': 1, 'them.': 1, '….': 1})
2

""" text 문자열 여러줄 가지고 올때 따옴표 3개씩 쓴당"""

In [133]:
text = ""안녕하세요
반갑습니다""

SyntaxError: invalid syntax (703521134.py, line 1)

## named tuple
- tuple형태로 Data구조체를 저장하는 방법
- 저장되는 data의 variable을 사전에 지정해서 저장함

In [145]:
from collections import namedtuple
Point1 = namedtuple('Point', ['x','y']) #('이름',['파라미터(?)'])
p = Point(11, y=22)
print(p[0] + p[1])
x, y=p
d = p._asdict()
print(d)
print(Point(**d))
print(x,y)
print(p.x,p.y)
print(Point(x=11, y=22))
print(p)
print(Point1)

33
{'x': 11, 'y': 22}
Point(x=11, y=22)
11 22
11 22
Point(x=11, y=22)
Point(x=11, y=22)
<class '__main__.Point'>

## List comprehensions

In [146]:
result =[]
for i in range(10):
    result.append(i)
    
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
result = [i for i in range(10) if i%2==0 ]
result

[0, 2, 4, 6, 8]

In [151]:
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [152]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]
result = [i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [155]:
case_1 = "ABC"
case_2 = "DEA"
result = [i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [154]:
result = [i+j for i in case_1 for j in case_2 if not (i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

## Enumerate
- List의 element를 추출할 때 번호를 붙여서 추출

In [156]:
for i,v in enumerate(['tic','tac','toc']):    #i: index, v: value
    print(i,v)

0 tic
1 tac
2 toc

In [169]:
mylist = ['a','b','c','d']
list(enumerate(list(enumerate(mylist))))

[(0, (0, 'a')), (1, (1, 'b')), (2, (2, 'c')), (3, (3, 'd'))]

In [158]:
{i:j for i,j in enumerate("Elements are counted from an iterable".split())}

{0: 'Elements', 1: 'are', 2: 'counted', 3: 'from', 4: 'an', 5: 'iterable'}

In [185]:
for result in ([[x, y, x*y] for x in range(2,10) for y in range(1,10)]):
    print(result[0],"*",result[1],"=",result[2])

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81