<a href="https://colab.research.google.com/github/gaheehan/python/blob/main/%EC%A0%84%EA%B3%B5_%ED%8F%89%EC%A0%90%EA%B5%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 코랩으로 데이터 불러오기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/성적.xlsx')

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [25]:
df.head(5)

   NO   전공명  수강연도   학기                 과목명     과목유형  취득학점  성적 재수강여부
0   1  전기공학  2014  1학기  Talking English 1B     교양필수     1   P     x
1   2  전기공학  2014  1학기             물리학및실험Ⅰ  기초과학및수학     3  C+     x
2   3  전기공학  2014  1학기           과학기술사상과철학     공학교양     3  B+     x
3   4  전기공학  2014  1학기            사이버범죄의이해     자유선택     2   P     x
4   5  전기공학  2015  1학기               전자기학Ⅰ     전공필수     3   B     x

# 필요한 데이터만 추출하기

In [26]:
df = df[['과목명','과목유형','취득학점','성적']]

In [29]:
df1 = df[df['과목유형'].str.contains('전공|기초과학')]

In [30]:
df1.head()

       과목명     과목유형  취득학점  성적
1  물리학및실험Ⅰ  기초과학및수학     3  C+
4    전자기학Ⅰ     전공필수     3   B
5   전기전자물성     전공필수     3  B+
6  전기공학실험Ⅰ     전공필수     2   B
7   전기전자수학  기초과학및수학     3  B+

In [32]:
df1['취득학점'].sum()

108

# 매핑시켜서 인코딩하기
https://blog.naver.com/PostView.nhn?blogId=youji4ever&logNo=221698612004

In [33]:
map_성적 = {'A+':4.5,'A':4,'B+':3.5,'B':3,'C+':3.5,'C':3}
col = ['성적']

In [34]:
df1[col]=df1[col].applymap(map_성적.get)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [44]:
df1.head(5)

       과목명     과목유형  취득학점   성적  학점x성적
1  물리학및실험Ⅰ  기초과학및수학     3  3.5   10.5
4    전자기학Ⅰ     전공필수     3  3.0    9.0
5   전기전자물성     전공필수     3  3.5   10.5
6  전기공학실험Ⅰ     전공필수     2  3.0    6.0
7   전기전자수학  기초과학및수학     3  3.5   10.5

In [38]:
df1['학점x성적']= df1['취득학점']*df1['성적']

<ipython-input-38-cf5fb0d6ee05>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['학점x성적']= df1['취득학점']*df1['성적']

(학점수×교과목 평점)의 합계/수강신청 총학점 수

In [43]:
전공평점 = df1['학점x성적'].sum() / df1['취득학점'].sum()
print(전공평점)

3.736111111111111