<a href="https://colab.research.google.com/github/gaheehan/python/blob/main/%EC%A0%84%EA%B3%B5_%ED%8F%89%EC%A0%90%EA%B5%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 코랩으로 데이터 불러오기

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/성적.xlsx')

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [32]:
df.head(5)

   NO   전공명  수강연도   학기                 과목명     과목유형  취득학점  성적 재수강여부
0   1  전기공학  2014  1학기  Talking English 1B     교양필수     1   P     x
1   2  전기공학  2014  1학기             물리학및실험Ⅰ  기초과학및수학     3  C+     x
2   3  전기공학  2014  1학기           과학기술사상과철학     공학교양     3  B+     x
3   4  전기공학  2014  1학기            사이버범죄의이해     자유선택     2   P     x
4   5  전기공학  2015  1학기               전자기학Ⅰ     전공필수     3   B     x

# 필요한 데이터만 추출하기

In [33]:
df = df[['과목명','과목유형','취득학점','성적']]

In [34]:
df1 = df[df['과목유형'].str.contains('전공')]

In [35]:
df1

            과목명  과목유형  취득학점  성적
4         전자기학Ⅰ  전공필수     3   B
5        전기전자물성  전공필수     3  B+
6       전기공학실험Ⅰ  전공필수     2   B
10         계측공학  전공선택     2  B+
12      논리회로및설계  전공기초     3   B
15        전자기학Ⅱ  전공필수     3  B+
16      전기공학실험Ⅱ  전공필수     2   A
19        전자회로Ⅱ  전공선택     2  A+
20       전기전자재료  전공선택     3  A+
21   전기공학실험및설계Ⅰ  전공필수     2   A
22        자동제어Ⅰ  전공필수     3   B
23        전기기기Ⅰ  전공필수     3  B+
24         회로이론  전공필수     3  B+
27    센서및디바이스설계  전공선택     3  A+
28        전기기기Ⅱ  전공선택     3  A+
29   전기공학실험및설계Ⅱ  전공필수     2  B+
30         전력전자  전공필수     3  B+
35         전력공학  전공필수     3  B+
36       교류회로이론  전공필수     3  C+
37   기초전기전자공학설계  전공기초     3  A+
41         지능제어  전공선택     3   A
42       전동기제어론  전공필수     3  B+
43  메카트로닉스공학및설계  전공선택     3   A
47       신호및시스템  전공선택     3   B
48         전자공학  전공선택     3  A+
49       전기공학실험  전공선택     3  A+
50        디지털제어  전공선택     3  B+
51      캡스톤디자인Ⅱ  전공필수     3  B+

In [36]:
len(df1)

28

In [37]:
df1['취득학점'].sum()

78

# 매핑시켜서 인코딩하기
https://blog.naver.com/PostView.nhn?blogId=youji4ever&logNo=221698612004

In [38]:
map_성적 = {'A+':4.5,'A':4,'B+':3.5,'B':3,'C+':2.5,'C':2}
col = ['성적']

In [39]:
df1[col]=df1[col].applymap(map_성적.get)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [40]:
df1.head(5)

        과목명  과목유형  취득학점   성적
4     전자기학Ⅰ  전공필수     3  3.0
5    전기전자물성  전공필수     3  3.5
6   전기공학실험Ⅰ  전공필수     2  3.0
10     계측공학  전공선택     2  3.5
12  논리회로및설계  전공기초     3  3.0

In [41]:
df1['학점x성적']= df1['취득학점']*df1['성적']

<ipython-input-41-cf5fb0d6ee05>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['학점x성적']= df1['취득학점']*df1['성적']

(학점수×교과목 평점)의 합계/수강신청 총학점 수

In [42]:
전공평점 = df1['학점x성적'].sum() / df1['취득학점'].sum()
print(전공평점)

3.6923076923076925